body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.hero-area{
    height:500px ;
    padding: 100px;
    display: flex;
}
.hero-area p{
    width: 80%;
    padding-bottom:3% ;
}


.btnbtn{
    color:white;
    font-weight:500;
    background-image: linear-gradient(#ff1e1e,#fba24f);
    padding:10px 20px ;
    border-radius: 30px;
    text-decoration: none;
    
}
.hero-area div{
    width: 50%;
   
}

.hero-area img{
    width: 90%;
    margin-top:-15%;
    padding-left:15% ;
}
h1{
    
    color: rgb(66, 66, 66);
    font-size:50px;
    line-height:30px;
}

.skipspan{
    color: rgb(235, 133, 17);
}
.contact-area{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position:cover;
    height:700px;
    width: 100%;
    /*padding: 100px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-area div{
    width: 60%;
   
}
.contact-area img{
    width: 49%;
    margin-top:-20px;
    padding-left:15% ;
}
.contact-area p{
    width: 80%;
    padding-bottom:3% ;
}
